.user-center{
	padding: 10px 0;
}
.user-center .side-nav{
	width: 130px;
	height: 100px; 
}
.user-center .side-nav .item{
	height: 25px;
	line-height: 25px;
	color: #777;
	font-size: 13px;
}
.user-center .side-main{
	width: 930px;
	padding: 10px;
	background-color: #fff;
}
.user-center .side-main .tit{
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #666;
	border-bottom: 1px solid #eee;
	text-indent: 10px;
}
.user-center .side-main .side-mian-list{
	line-height: 35px;
	font-size: 13px;
}
.user-center .side-main .side-mian-list span{
	display: inline-block;
	width: 50px;
	line-height: 20px;
	text-align: right;
	margin-right: 10px;
}
.user-center .side-main .edit{
	display: block;
	width: 50px;
	height: 30px;
	background-color: #c60023;
	color: #fff;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	margin-left: 66px;
}
.user-center .side-main .side-mian-list.about-mmall{
	line-height: 20px;
	font-size: 12px;
	text-indent: 10px;
}