.order-pay{
	background-color: #fff;
	padding: 40px 0;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}
.order-pay .refer{
	padding: 10px 0; 
}
.order-pay .pay{
	padding: 10px 0; 
	color: #c60023;
}
.order-pay .img{
	display: inline-block;
	padding: 10px;
	border: 1px solid #eee;

}