<div class="top-nav-wrap">
	<div class="w top-nav">
		<div class="login-side fl">
			<span class="welcome hide">欢迎,<i class="username">sky</i><a href="#" class="login-out">退出</a></span>
			<span class="login-reg"><a href="javascript:" id="do-login">登录</a><a href="./user-reg.html">注册</a></span>
		</div>
		<div class="nav-items fr">
			<a href="./about-mmall.html">关于MMall</a>
			<a href="./my-mmall.html">我的MMall</a>
			<a href="./order-list.html">我的订单</a>
			<a href="./shop-car.html"><span class="icon-cart"></span>购物车(<i class="cart-count">0</i>)</a>
		</div>
	</div>	
</div>